
.game-board {
  width: 360px;
  margin: 10px auto;
  padding: 30px;
  background-color: #dfdfdf;
}
header {
  text-align: center;
}
.wrapper {
  text-align: center;
}
.button {
  border: 1px solid black;
}
#win {
  visibility: hidden;
}
.active {
  border: 1px solid #eee;
}

.towers {
  font-family: 'Aristocrat', 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 200px;
  color: black;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tower-left {
  line-height: .75;
  transform: rotate(180deg);
}
.tower-mid {
  line-height: .75;
  transform: rotate(180deg);
}
.tower-right {
  line-height: .75;
  transform: rotate(180deg);
}

.discs-container {
  width: 334px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 30px 0;
}
.discs {
  width: 334px;
  height: 150px;
}
.disc1 {
  width: 40px;
  height: 20px;
  border-radius: 4px;
  z-index: 20;
  background-color: #42f456;
}
.disc2 {
  width: 50px;
  height: 20px;
  border-radius: 4px;
  z-index: 20;
  background-color: #e91e63;
}
.disc3 {
  width: 60px;
  height: 20px;
  border-radius: 4px;
  z-index: 20;
  background-color: #ea8f10;
}
.disc4 {
  width: 70px;
  height: 20px;
  border-radius: 4px;
  z-index: 20;
  background-color: #673ab7;
}
.disc5 {
  width: 80px;
  height: 20px;
  border-radius: 4px;
  z-index: 20;
  background-color: #3f51b5;
}
.discs-left {
  width: 111px;
  height: 139px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  padding: 0 0 10px 0;
}
.discs-mid {
  width: 111px;
  height: 139px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  padding: 0 0 10px 0;
}
.discs-right {
  width: 111px;
  height: 139px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  padding: 0 0 10px 0;
}
