
.game-board {
  width: 400px;
  height: 250px;
  margin: 10px 10px;
  padding: 30px;
  background-color: #dfdfdf;
  /*position: relative;*/
}
.towers {
  /* move common styles here, specific styles to specific tower class */
  font-family: 'Aristocrat', 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 200px;
  color: black;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tower-left {
  line-height: .75;
  transform: rotate(180deg);
}
.tower-mid {
  line-height: .75;
  transform: rotate(180deg);
}
.tower-right {
  line-height: .75;
  transform: rotate(180deg);
}

.discs-container {
  width: 334px;
  height: 150px;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;*/
}
.discs {
  width: 334px;
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.disc0 {
  width: 52.5px;
  height: 20px;
  border-radius: 4px;
  z-index: 20;
  background-color: #e91e63;
}
.disc1 {
  width: 70px;
  height: 20px;
  border-radius: 4px;
  z-index: 20;
  background-color: #673ab7;
}
.disc2 {
  width: 87.5px;
  height: 20px;
  border-radius: 4px;
  z-index: 20;
  background-color: #3f51b5;
}
.discs-left {
  width: 111px;
  height: 139px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.discs-mid {
  width: 111px;
  height: 139px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.discs-right {
  width: 111px;
  height: 139px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
